.app-login-register-container { width: 400px; margin: 40px auto; padding: 30px; background: #fff; box-shadow: 0 1px 4px 0 rgba(0,0,0,.15); }
.app-login-register-container a { color: #3f51b5; }
.app-login-register-container h3 { font-size: 24px; text-transform: uppercase; text-align: center; margin-bottom: 15px; }