.main { margin: 64px 0px 0px 260px; padding: 15px; -webkit-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94); -moz-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94); transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
.card-box { background: #fff; width: 100%; padding: 20px; position: relative; margin-bottom: 30px; border-radius: 2px; -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15); -o-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15); box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15); }
.card-box .card-title { font-size: 20px; margin-bottom: 20px; text-transform: capitalize; }
.font-500 { font-weight: 500; }
.badge-block { display: block !important; }