.top-navheader { position: fixed; top: 0px; left: 0px; right: 0px; z-index: 2; }
.navbar-nav .nav-link { color: #fff; }
.navbar-nav .nav-link i { margin-top: 2px; }
.user-avatar { width: 30px; border-radius: 50%; }
.nav-toggle { margin-right: 15px; }