@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

body { background: #f8f9fa !important; color: #333; font-size: 14px; line-height: 1.8; font-family: 'Roboto', sans-serif; }
ul, li { padding: 0px; margin: 0px; }
.flex-row { display: flex; }
.align-items-center { align-items: center; }
.justify-content-between { justify-content: space-between; }
body.aside-menu-hidden .main { margin: 64px 0px 0px; }
body.aside-menu-hidden .aside { -webkit-transform: translateX(-100%); -moz-transform: translateX(-100%); -ms-transform: translateX(-100%); -o-transform: translateX(-100%); transform: translateX(-100%); }