.aside { position: fixed; width: 260px; top: 0; left: 0; bottom: 0; z-index: 1; -webkit-backface-visibility: hidden; backface-visibility: hidden; background-color: #fff; -webkit-transform: translateX(0%); -moz-transform: translateX(0%); -ms-transform: translateX(0%); -o-transform: translateX(0%); transform: translateX(0%); -webkit-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94); -moz-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94); transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
.aside .aside-inner { position: fixed; top: 0; bottom: 0; padding-top: 64px; height: 100%; width: 260px; overflow: hidden; -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); -ms-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); }
.aside .aside-inner .sidebar {
    height: 100%;
    padding-bottom: 20px;
    background-color: #fff;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    margin-right: -17px;
    overflow-y: scroll;
}
.aside .aside-inner .sidebar ul li { list-style: none; }
.aside .aside-inner .sidebar ul li a { color: #333; padding: 12px 15px; }
.aside .aside-inner .sidebar ul li a:hover { background: #eef0f1; }
.nav-title { padding: 10px 15px; font-weight: 500; text-transform: uppercase; font-size: 13px; }

.nav-dropdown ul { display: none; }
.nav-dropdown.open ul { display: block; }
.nav-dropdown.open a { background: #f8f9fa; }
.nav-dropdown ul { background: #f8f9fa; }
.nav-dropdown:after { position: absolute; top: 10px; right: 10px; display: block; content:"a"; }
.nav-dropdown { position: relative; }